[Unit]
Description=NodeJS application server

[Service]
ExecStart={{ appdir }}/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory={{ appdir }}

[Install]
WantedBy=multi-user.target
